.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body {
  background-color: rgb(246, 246, 29);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#gif {
  padding-bottom: 2%;
}

#conversion-icon {
  height: 50px;
}

.currency-price {
  background-color: #f2be22;
  padding: 1%;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid red;
  border-radius: 3%;
}

.conversion-form {
  font-weight: bold;
  color: red;
  margin-top: 0%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.currency {
  margin: 1%;
}

#conversionAmount {
  margin-bottom: 2%;
}

input {
  font-weight: bolder;
  background-color: rgb(158, 158, 20);
  outline: 0;
  border-width: 0 0 2px;
  border-color: red;
  color: red;
}
input:focus {
  color: green;
  font-weight: bolder;
  border-color: green;
}

select {
  border: none;
  background-color: red;
  color: yellow;
  border-radius: 10%;
  border: 0.5px solid red;
}
